__pycache__/
.idea/
*.zip
*.pyc
.DS_Store
target/
Cargo.lock
venv_chirho/
tmp-chirho/

# Generated artifacts
calyx_chirho/obj_dir/
calyx_chirho/*.v
clash_chirho/dist-newstyle/
clash_chirho/*.hi
clash_chirho/*.o
clash_chirho/verilog/
rust_chirho/target/
rust_chirho/pkg/
rust_chirho/web_chirho/pkg_chirho/
